body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(216, 209, 209)smoke;
  font-size: 24px;
}

h1{
  font-size: 42px;
}

h2{
  font-size: 36px;
  text-align: center;
  background-color: rgb(180, 96, 0);
  border-radius: 15px;
  margin-bottom: 20px;
}

h3{
  font-size: 32px;
  text-align: center;
  background-color: rgb(180, 96, 0);
  border-radius: 15px;
  margin-bottom: 20px;
}

.wrapper{
  max-width: 1140px;
  margin: 0 auto;
  background-color: rgb(246, 246, 246);
}

.wrapper > header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(180, 96, 0);
  color: white;
  border-radius: 0 0 15px 15px;
}

nav a{
  color: white;
  text-decoration: none;
  margin: 10px;
}
/* styling for all buttons on webpage */
button{
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 10px 5px rgb(255, 167, 67);
}

.button:hover {
  background-color: rgb(237, 189, 152);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

section{
  padding: 20px;
  font-size: 28px;
  line-height: 48px;
}
/* styling for about me */
.aboutdetails{
  display: flex;
}

.aboutdetails p{
  background-color: rgb(237, 189, 152);
  border-radius: 15px;
}

.aboutdetails img{
  margin-right: 16px;
  margin-bottom: 16px;
  height: 300px;
  border-style: solid;
  border-color: rgb(229, 121, 59);
  border-radius: 10px;
}
/* styling for my portfolio article section */

.mywork{
  display: flex;
  flex-wrap: wrap;
}

article{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  margin-bottom: 2%;
  opacity: 75%;
  box-shadow: 0 0 20px rgb(255, 167, 67);
}

article a{
  text-decoration: none;
  color: black;
}
/* added feature to fade full opacity on hover */
article:hover{
  opacity: 100%;
}
/* image sizing */
article img{
  width: 100%;
  height: 300px;
}

.featured{
  width: 100%;
  opacity: 75%;
  box-shadow: 0 0 10px rgb(255, 167, 67);
}

.featured:hover{
  opacity: 100%;
}
/* styling for footer element */
footer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(180, 96, 0);
  color: white;
  border-radius: 15px 15px 0 0 ;
}

footer > h3{
font-size: 36px;
}

footer a{
  color: white;
  text-decoration: none;
  margin: 10px;
}
/* media query for optimized screen sizes and readability */
@media screen  and (max-width: 768px){

  body, p {
    font-size: 16px;
    line-height: 28px;
  }

  h1{
    font-size: 28px;
  }

  h2{
    font-size: 26px;
  }

  h3{
    font-size: 24px;
  }

  header{
    display: flex;
    flex-direction: column;
  }

  nav a:first-of-type{
    margin-left: 0;
  }

  .aboutdetails{
    flex-direction: column;
    align-items: center;
  }

  #work{
    flex-direction: column;
  }

  #work article img{
    width: 100%;
  }

  footer{
    display: flex;
    flex-direction: column;
  }


}